.body-text {
    font-weight: bold;
    color: DimGray;
    font-size: 15px;
}

.body-text-rating {
    font-weight: bold;
    color: SandyBrown;
    font-size: 15px;
}

.header {
    font-weight: bold;
}

.full-vertical {
    height: 100vh;
}