.highlight{
    color: #003e54;
}

.button-margin{
    margin-right : 5px;
}

.button-margin-left {
    margin-left: 5px;
}

.btn-circle {
    border-radius: 50%
}

.navbar-margin{
    margin-top: 25px;
}