<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Καλώς Ήρθατε</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/structure.css}">
</head>

<body class="background-color">

<!-- include navigation bar -->
<div th:replace="../static/fragments/navbar :: navbar"></div>

</body>
</html>