<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- necessary -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/structure.css">
</head>
<body class="background-color">

    <!-- include navigation bar -->
    <div id="navbar"> </div>
    <script src="/reactjs/build/navbar.bundle.js"> </script>

    <br>
    <br>

    <!-- login form -->
    <div id="loginForm"> </div>
    <script src="/reactjs/build/login.bundle.js"> </script>

</body>
</html>